.footer {
  background: rgba(48, 48, 48, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0px 0px 0px 40px;
  width: 1920px;
  height: 360px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-top {
  display: flex;
  font-family: "BuyanRegular";
  font-size: 120px;
  font-weight: 400;
  line-height: 196.2px;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: 170px;
  font-family: "centurygothic";
  font-weight: 400;
  font-size: 50px;
  line-height: 46px;
}

.footer-bottom .social-icons {
  display: flex;
  gap: 20px;
}

.footer-bottom .contact-info {
  text-align: left;
  gap: 80px;
}

.social-circle {
  width: 97px;
  height: 97px;
  background: rgba(132, 170, 200, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.social-circle img {
  width: 64px;
  height: 64px;
}

.social-circle:hover {
  background-color: rgba(102, 128, 160, 1);
}

.footer-image {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.footer-image img {
  width: 800px;
  height: 320px;
  border-radius: 40px;
  margin-right: 120px;
}
