.services-section {
  padding: 3.12vw 0 2.08vw 2.08vw;
  text-align: center;
  position: relative;
  width: 100%;
}

.services-section h2 {
  font-family: "BuyanRegular";
  font-size: 5.2vw;
  font-weight: 400;
  line-height: 5.67vw;
  text-align: left;
  color: rgba(48, 48, 48, 1);
}

.services-slider-wrapper {
  position: relative;
  width: 95.31vw;
  overflow: hidden;
}

.services-slider {
  display: flex;
  gap: 1.56vw;
  transition: transform 0.5s ease-in-out;
}

.service-item {
  width: 48.17vw;
  height: 23.33vw;
  position: relative;
  border-radius: 2.08vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.08vw;
  flex-shrink: 0;
}

.service-image {
  width: 45.57vw;
  height: 23.33vw;
  border-radius: 2.08vw;
  background-size: cover;
  background-position: center;
  position: relative;
}

.service-title {
  position: absolute;
  bottom: 1.04vw;
  left: 1.04vw;
  color: rgba(255, 255, 255, 1);
  font-family: "centurygothic";
  font-weight: 400;
  font-size: 2.6vw;
  line-height: 2.39vw;
  text-align: left;
}

.service-title.shift-up {
  bottom: 3.12vw;
}

.service-item button {
  font-family: "centurygothic";
  font-weight: 400;
  font-size: 2.6vw;
  line-height: 2.39vw;
  text-align: center;
  background-color: #84aac8;
  border: none;
  width: 39.93vw;
  height: 3.85vw;
  border-radius: 1.92vw;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin: 1vw auto ;
  transition: transform 0.3s ease;
}

.service-item button:hover {
  background-color: #5e7a98;
  transform: scale(1.05);
}

.next-arrow,
.prev-arrow {
  position: absolute;
  top: 25%;
  background-color: rgba(132, 170, 200, 1);
  border-radius: 50%;
  width: 3.48vw;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.next-arrow:hover,
.prev-arrow:hover {
  background-color: #5e7a98;
  transform: scale(1.1);
}

.next-arrow {
  right: 0.52vw;
}

.prev-arrow {
  left: 0.52vw;
}

.next-arrow img,
.prev-arrow img {
  width: 2.08vw;
  aspect-ratio: 1;
}

.service-modal {
  width: 44.27vw;
  height: 15.62vw;
  background: rgba(132, 170, 200, 0.35);
  border-radius: 1.45vw;
  padding: 2.34vw;
  color: rgba(48, 48, 48, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: opacity 0.3s ease;
}

.service-modal p {
  font-family: "centurygothic";
  font-weight: 400;
  text-align: left;
  font-size: 1.56vw;
  line-height: 1.97vw;
}

.modal-close {
  position: absolute;
  top: 0.52vw;
  right: 1.04vw;
  font-size: 2.08vw;
  color: #fff;
  cursor: pointer;
}

.modal-close:hover {
  color: #ff0000;
}
